<div class="container-fluid">
    <div class="row">
      <div class="col-7"></div>
      <div class="col-5"><center>
        <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="control">
            <%= f.text_field :username, autofocus: true,  placeholder: "User name", :class => 'control' %>
          </div>
        </div>

          <div class="field">
            <div class="control">
              <%= f.text_field :email,  placeholder: "username@domain.com", :class => 'control' %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.password_field :password,  placeholder: "Password (6 characters minimum)", :class => 'control' %>
            </div>
          </div>

          <div class="field">
            <div class="control">

              <%= f.password_field :password_confirmation,  placeholder: "Password confirmation", :class => 'control' %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Sign Up", class:"subm" %>
          </div>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
      </div></center>
    </div>
</div>

<style type="text/css">
  body{
     background-image:  url(https://saiup.org.ua/wp-content/uploads/2015/02/uzhnu-logo.png);
     background-repeat: no-repeat;
  }
</style>
