<div class="container-fluid">
    <div class="row">
      <div class="col-7"></div>
      <div class="col-5"><center>
        <h2>Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class="control">
              <%= f.text_field :login, autofocus: true,  placeholder: "username@domain.com", :class => 'control' %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.password_field :password,  placeholder: "********", :class => 'control' %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :remember_me  %>
              <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class:"subm" %>
          </div>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
      </div></center>
    </div>
</div>

<style type="text/css">
  body{
     background-image:  url(https://saiup.org.ua/wp-content/uploads/2015/02/uzhnu-logo.png);
     background-repeat: no-repeat;
  }
</style>
